/* dialog.component.css */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background-color: #ffffff;
    padding: 2rem 2.5rem;
    border-radius: 0.3125rem;
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.60);
    max-height: 80%;
    overflow-y: auto;
}

.dialog-content-phone {
    width: 90%;
}

.dialog-content-desktop {
    width: 40%;
}

.close-container {
    cursor: pointer;
}