<!-- dialog.component.html -->
<div *ngIf="isVisible" class="dialog-overlay">
    <div class="dialog-content position-relative" 
        [ngClass]="{
            'dialog-content-phone': isPhone || isTablet,
            'dialog-content-desktop': isDesktop
        }"
        [style.minHeight]="minHeight+'rem'"
        *transloco="let t; scope : 'studyplan'">
        <div class="w-100 h-100" *ngIf="type === DialogType.Default">
            <div class="w-100 d-flex align-items-center justify-content-center mb-5 mt-4" >
                <div [ngClass]="{
                    'ms-auto' : canBeClosed
                }">
                    <h3 class="mb-0" [ngClass]="{
                        'wd-text-h3' : isPhone,
                        'wd-text-h1' : isTablet || isDesktop
                     }">
                     {{title}}
                    </h3>
                </div>
                <div class="ms-auto close-container" (click)="toggle()" *ngIf="canBeClosed">
                    <img src="../../../assets/icons/close-outline 1.png" alt="">
                </div>
            </div>
            <ng-content></ng-content>
        </div>
        <div class="w-100 h-100" *ngIf="type === DialogType.StudyPlanTermOverview">
            <div class="d-flex mb-2">
                <div>
                    <!-- completed card -->
                    <div class="mb-3 d-flex status-card justify-content-center align-items-center"
                        [ngClass]="{
                            'not-started-card' : selectedStudyPlanTerm.studyPlanTermDto.studyTermStatus === 'NotStarted',
                            'completed-card' : selectedStudyPlanTerm.studyPlanTermDto.studyTermStatus === 'Completed',
                            'in-progress-card' : selectedStudyPlanTerm.studyPlanTermDto.studyTermStatus === 'InProgress'
                        }">
                        <span class="wd-text-h4">{{(t('studyplan.'+selectedStudyPlanTerm.studyPlanTermDto.studyTermStatus))}}</span>
                    </div>
                    <div>
                        <h1 class="wd-text-h1 wd-text-primary mb-0">
                            {{selectedStudyPlanTerm.studyPlanTermDto.name}}
                        </h1>
                        <span>{{selectedStudyPlanTerm.studyPlanTermDto.startDate | date:'MMM'}} 
                            -
                            {{selectedStudyPlanTerm.studyPlanTermDto.endDate | date:'MMM'}}
                        </span>
                    </div>
                </div>
                <div class="ms-auto close-container" (click)="toggle()" *ngIf="canBeClosed">
                    <img src="../../../assets/icons/close-outline 1.png" alt="">
                </div>
            </div>
            <ng-content select=".forTypeTermCreationCompleted"></ng-content>
        </div>
    </div>
</div>
