<button class="wd-button" [ngClass]="{
    'wd-bg-primary': type === ButtonType.PRIMARY,
    'wd-text-white': type === ButtonType.PRIMARY,
    'btn-primary': type === ButtonType.PRIMARY,
    'btn-no-style': type === ButtonType.NOSTYLE,
    'wd-text-disabled': type === ButtonType.NOSTYLE,
    'wd-bg-bone' : type === ButtonType.BONE,
    'wd-text-bold': type === ButtonType.BONE
    }"
    [ngStyle]="{
        'height': height+'px',
        'width': width+'px' 
    }"
    [disabled]="disabled"
>
    {{text}}
</button>