<div class="w-100 wd-bg-white study-plan-term-card d-flex align-items-center"
     *ngIf="studyPlanTerm">

    <!-- name and date -->
    <div class="d-flex flex-column">
        <!-- name -->
        <h4 class="wd-text-h4">{{studyPlanTerm.name}}</h4>
        <!-- date -->
        <div class="d-flex">
            <h5 class="wd-text-h5">{{studyPlanTerm.startDate | date:'MMMM'}}</h5>
            <span>-</span>
            <h5 class="wd-text-h5">{{studyPlanTerm.endDate| date:'MMMM'}}</h5>
        </div>

    </div>

    <!-- button -->
    <div class="ms-auto cursor-pointer" (click)="emitCardWasClicked()">
        <img src="../../../assets/icons/next.png" width="40" height="40">
    </div>
</div>