<div class="w-100">
    <form autocomplete="off" [formGroup]="setupDegreFormm">

        <!-- main form container -->
        <div class="d-flex justify-content-center align-items-center flex-column">

            <div class="d-flex">
                <app-input-text [width]="467" 
                                [height]="47"
                                class="me-4"
                                placeholder="" 
                                label="Career/Course name" 
                                placeholder=""
                                formControlName="degreeName">
                </app-input-text>
                <app-input-text [width]="467" 
                                [height]="47"
                                placeholder="" 
                                label="Educational institution" 
                                placeholder=""
                                formControlName="institution">
                </app-input-text>
            </div>

            <div class="d-flex mt-4">
                <app-input-select [width]="467" 
                                  [height]="47" 
                                  class="me-4"
                                  label="Schedule"
                                  [disabled]="false"
                                  formControlName="schedule">
                </app-input-select>
                <app-input-select [width]="467" 
                                  [height]="47" 
                                  label="Type of career"
                                  [disabled]="false"
                                  formControlName="degreeType">
                </app-input-select>
            </div>

            <div class="d-flex mt-4">
                <app-input-select [width]="467" 
                                  [height]="47" 
                                  class="me-4"
                                  label="field of study"
                                  [disabled]="false"
                                  formControlName="field">
                </app-input-select>
                <app-input-date [width]="467" 
                                [height]="47" 
                                label="Start date"
                                placeholder=""
                                formControlName="startYear">
                </app-input-date>
            </div>
        </div>
        <div class="w-100 d-flex button-spacing">
            <app-button text="Continue"
                        [width]="14.0625" 
                        [height]="2.9375"
                        [type]="ButtonType.PRIMARY"
                        class="ms-auto" 
                        (click)="submit()">
            </app-button>
        </div>
    </form>
</div>