<div class="row" *transloco="let t; scope : 'home'">
    <div class="col-md-10">
        <!-- header -->
        <div *ngIf="user">
            <div class="row">
                <div class="col-md-8">
                   <app-title [title]="t('home.'+timeOfDayGreeting) + ' ' + user.name"
                              [iconPath]="timeOfDayIcon"
                              [iconBackgroundColor]="currentTimeOfDay === TimeOfDay.Morning 
                                 ? 'rgba(218, 199, 9, 0.20)' : (currentTimeOfDay === TimeOfDay.Afternoon 
                                ? 'rgba(126, 26, 161, 0.15)' : 'rgba(124, 147, 158, 0.15)')">
                   </app-title>
                </div>
                <div class="col-md-4">
                    <!-- degree overview -->
                    <div class="d-flex">
                        <!-- degree name -->
                        <div></div>
        
                        <!-- add degree -->
                        <div></div>
                    </div>
                </div>
            </div>

            <!-- setup -->
            <div class="mt-5">
                <!-- set you study plan -->
                <div class="config-card wd-bg-white d-flex align-items-center" 
                     *ngIf="notCompletedSetup() || isOmitted()"
                    [ngClass]="{
                        'flex-wrap justify-content-center w-100' : isPhone
                    }">
                    <!-- happy face -->
                    <div class="me-5 ms-5" [ngClass]="{
                        'mt-3' : isPhone
                    }">
                        <img src="../../../assets/icons/happy-grey.png" width="150" height="150">
                    </div>

                    <!-- data -->
                    <div class="d-flex flex-column gap-3" 
                         [ngClass]="{
                            'justify-content-center text-center mt-3 mb-3' : isPhone
                         }">
                        <h4 class="wd-text-h4">{{t('home.LetsStartTogether')}}</h4>
                        <span class="pe-3" *ngIf="isOmitted()">
                            {{t('home.OptimizeExperience')}}
                        </span>
                        <span class="pe-3" *ngIf="notCompletedSetup() && !isOmitted()">
                           {{t('home.SpaceInfo')}}
                        </span>
                        <div class="config-button" [ngClass]="{
                            'w-100 p-3' : isPhone 
                        }">
                            <app-button [text]="isOmitted() ? t('home.ConfigureSpace') : t('home.CreateStudyPlan')"
                                        [type]="ButtonType.SECONDARY"
                                        (click)="executeSetup()"
                                        [disabled]="false">
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- right side -->
    <div class="col-md-2">
        hola
    </div>
</div>