<div class="row" *transloco="let t; scope : 'home'">
    <div class="col-md-10">
        <!-- header -->
        <div *ngIf="user">
            <div class="row">
                <div class="col-md-8">
                   <app-title [title]="t('home.'+timeOfDayGreeting) + ' ' + user.name"
                              [iconPath]="timeOfDayIcon"
                              [iconBackgroundColor]="currentTimeOfDay === TimeOfDay.Morning 
                                 ? 'rgba(218, 199, 9, 0.20)' : (currentTimeOfDay === TimeOfDay.Afternoon 
                                ? 'rgba(126, 26, 161, 0.15)' : 'rgba(124, 147, 158, 0.15)')">
                   </app-title>
                </div>
                <div class="col-md-4">
                    <!-- degree overview -->
                    <div class="d-flex">
                        <!-- degree name -->
                        <div></div>
        
                        <!-- add degree -->
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content -->
        <div *ngIf="(user && userDegree) && !loading">
            <div *ngIf="user.userStatus === UserStatus.Omitted || (userDegree && !studyPlan)"
                    class="create-workspace-container wd-bg-white d-flex align-items-center justify-content-center mt-3"
                    [ngClass]="{
                        'flex-wrap flex-column' : isPhone,
                        'setup-container-desktop': isDesktop || isTablet,
                        'setup-container-phone': isPhone
                    }">  
                <!-- icon -->
                <div class="mt-3">
                    <img src="../../../assets/icons/happy-grey.png"
                        [ngClass]="{
                            'smile-icon-phone' : isPhone,
                            'smile-icon-desktop me-5' : isDesktop || isTablet
                        }">
                </div>
    
                <!-- text -->
                <div [ngClass]="{
                    'text-center' : isPhone,
                    'mt-3': true
                }">
                    <h3 class="wd-text-h4 wd-text-dark-grey">{{t('home.LetsStartTogether')}}</h3>
                    <span [ngClass]="{
                        'text-center' : isPhone
                        }"
                        *ngIf="user.userStatus === UserStatus.Omitted">
                        {{t('home.OptimizeExperience1')}}
                    </span>
                    <span [ngClass]="{
                        'text-center' : isPhone
                        }"
                        *ngIf="user.userStatus !== UserStatus.Omitted && userDegree && !studyPlan">
                        {{t('home.OptimizeExperience2')}}<span class="fw-bold">{{t('home.BoldPart')}}</span>
                        {{t('home.AndMakeMost')}}
                    </span>
                    <div [ngClass]="{
                        'button-setup-container' : isDesktop || isTablet,
                        'mt-3 mb-3' : true
                    }">
                        <app-button [text]="user.userStatus === UserStatus.Omitted ? t('home.StartSetup') : t('home.CreateStudyPlan')"
                                    [type]="ButtonType.SECONDARY"
                                    (click)="executeSetup()"
                                    [disabled]="false">
                        </app-button>
                    </div>         
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        hola
    </div>
</div>