/* #region time of day */
.time-of-day-container {
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

.morning-bg-color {
    background-color: rgba(218, 199, 9, 0.20);
}
 
.afternoon-bg-color {
    background-color: rgba(126, 26, 161, 0.15);   
}

.evening-bg-color {
    background-color: rgba(124, 147, 158, 0.15);
}
/*#endregion time of day*/