<div class="input-label-container" *ngIf="label">
  <label for="">{{label}}</label>
</div>

<div class="select-wrapper" [style.width]="width+'rem'" [style.height]="height+'rem'">
    <select #selectComponent
            (change)="updateValue($event)"
            [value]="value"
            class="wd-input">  

      <!-- loading-->
      <option *ngIf="!options && !defaultOption">Loading...</option>

      <!-- default option -->
      <option *ngIf="defaultOption" 
              [value]="defaultOption.value">
          {{defaultOption.name}}
      </option>
      
      <!-- options -->
      <option *ngFor="let option of options" 
              [value]="option.value">
          {{option.name}}
      </option>
    </select>
    <div class="arrow">
      <img src="../../../../assets/icons/Arrow.svg" alt="arrow">
    </div>
</div>