<div class="input-label-container" *ngIf="label">
  <label for="">{{label}}</label>
</div>

<div class="select-wrapper w-100">
    <select #selectComponent
            (change)="updateValue($event)"
            [value]="value"
            class="wd-input"
            [ngClass]="{'wd-bg-input-error' : ngControl?.control?.touched 
            && ngControl?.control?.invalid }">  

      <!-- loading-->
      <option [value]="null" [selected]="true">Seleccione una opción</option>
      
      <!-- options -->
      <option *ngFor="let option of options" 
              [value]="option.value">
          {{option.name}}
      </option>
    </select>
    <div class="arrow">
      <img src="../../../../assets/icons/Arrow.svg" alt="arrow">
    </div>
</div>
<div class="w-100 d-flex">
  <span *ngIf="ngControl?.control?.touched 
  && ngControl?.control?.invalid" class="ms-auto wd-text-danger wd-text-input-error-size">{{error}}</span>
</div>