.clock-container {
    width: 100%;
    border-radius: 0.3125rem;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.pomodoro-round {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
}

i {
  color: #D9D9D9;
}