<app-dialog [title]="t('studyplan.AddBlock')" 
            [description]="t('studyplan.AddBlockDescription')"
            [minHeight]="20" 
            (wasClosed)="this.emitDialogWasClosed()" 
            [type]="DialogType.Default"
            [canBeClosed]="canBeClosed"
            *transloco="let t; scope : 'studyplan'">

    <!-- study term -->
    <div class="w-100 d-flex flex-column"
        *ngIf="studyTermForm">
        <form [formGroup]="studyTermForm" class="w-100">
            <div class="w-100 mb-3">
                <app-input-text [label]="t('studyplan.BlockName')"
                                formControlName="name"
                                [error]="t('studyplan.BlockNameError')"
                                placeholder="">
                </app-input-text>
            </div>
            <div class="d-flex flex-wrap w-100 study-plan-term-container">
                <div class="flex-fill">
                    <app-input-date [label]="t('studyplan.StartDate')"
                                    placeholder=""
                                    [error]="t('studyplan.StartDateError')"
                                    formControlName="startDate">
                    </app-input-date>
                </div>
                <div class="flex-fill">
                    <app-input-date [label]="t('studyplan.EstimatedEndDate')"
                                    placeholder=""
                                    [error]="t('studyplan.EstimatedEndDateError')"
                                    formControlName="endDate">
                    </app-input-date>
                </div>
            </div>
        </form>
    </div>

    <!-- courses -->
    <div class="w-100 d-flex flex-column mt-5" 
         *ngIf="coursesFormArray && coursesFormArray.length">
        <form [formGroup]="courseForm" class="mb-5">
          <div formArrayName="courses">
            <div *ngFor="let course of coursesFormArray.controls; let i = index; trackBy: trackByFn">
              <div [formGroupName]="i" class="add-course-container mt-2">
                <div class="course-name">
                    <app-input-text [label]="t('studyplan.Course')"
                                    formControlName="name"
                                    placeholder="">
                    </app-input-text>
                </div>
                <div class="course-credits">
                    <app-input-text [label]="t('studyplan.Credits')"
                                    formControlName="totalCredits"
                                    placeholder="">
                    </app-input-text>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- <div class="mt-5 ms-auto" [ngClass]="{
            'w-100': isPhone || isTablet,
            'btn-create-course-desktop': isDesktop 
        }">
            <app-button [text]="t('studyplan.Finish')"
                        [type]="ButtonType.SECONDARY"
                        (click)="createStudyPlanTermWithCourses()">
            </app-button>
        </div> -->
        <div class="mt-auto d-flex flex-wrap">
            <div [ngClass]="{
                'w-100 mb-3': isPhone || isTablet,
                'btn-add-course-desktop': isDesktop 
            }">
                <app-button [text]="t('studyplan.AddAnotherCourse')"
                            [type]="ButtonType.BONE"
                            (click)="addCourse()">
                </app-button>
            </div>
            <div class="ms-auto" [ngClass]="{
                'w-100': isPhone || isTablet,
                'btn-create-course-desktop': isDesktop 
            }">
                <app-button [text]="t('studyplan.Finish')"
                            [type]="ButtonType.SECONDARY"
                            (click)="createStudyPlanTermWithCourses()">
                </app-button>
            </div>
        </div>
    </div>      
</app-dialog>