.chip {
    height: 2.9375rem;
    padding: 10px;
    flex-grow: 1;
    justify-content: center;
    background-color: var(--bone-color);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.chip:hover {
    background: rgba(37, 110, 142, 0.50);
}

.chip.selected {
    background: rgba(37, 110, 142, 0.50);
}
