table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 0.40rem;
}

th, td {
    padding: 1.40rem 1rem;
    background-color: white;
}

td:first-child {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
}

td:last-child {
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}