<div class="input-label-container">
    <label for="">{{label}}</label>
</div>

<input type="text"
       [placeholder]="placeholder"
       class="wd-input w-100"
       [disabled]="isDisabled"
       [value]="value"
       (input)="updateValue($event)"
       [ngClass]="{'wd-bg-input-error' : ngControl?.control?.touched 
       && ngControl?.control?.invalid }"/>
<div class="w-100 d-flex">
    <span *ngIf="ngControl?.control?.touched 
    && ngControl?.control?.invalid" 
    class="ms-auto wd-text-danger wd-text-input-error-size">{{error}}</span>
</div>