<div class="app-container wd-bg-general position-relative">
    
    <!-- sidebar -->
    <div class="h-100"
        [ngClass]="{
                'sidebar-flex-full': !isSidebarContracted,
                'sidebar-flex-contracted': isSidebarContracted && !isPhone,
                'sidebar-phone' : isPhone
            }">
        <app-sidebar></app-sidebar>
    </div>

    <!-- content -->
    <div class="h-100"
        [ngClass]="{
            'content-flex-full' : !isSidebarContracted && !isPhone,
            'content-flex-contracted': isSidebarContracted && !isPhone,
            'content-phone' : isPhone
         }">
         <app-navbar></app-navbar>
         
         <!-- app content -->
         <div class="container-fluid app-content-container position-relative"
              [ngClass]="{
                'app-content-container-phone': isPhone,
                'app-content-container-desktop': isDesktop || isTablet
              }">
            <router-outlet></router-outlet>
            <ng-container #spinnerContainer></ng-container>
         </div>
    </div>
    <ng-container #messageContainer></ng-container>
</div>