<form autocomplete="off" [formGroup]="userSetupForm">

    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="d-flex justify-content-center align-items-center">
            <app-input-text [width]="467" 
                            [height]="47"
                            placeholder="" 
                            label="Name" 
                            placeholder=""
                            class="me-4"
                            formControlName="firstName">
            </app-input-text>
            <app-input-text [width]="467" 
                            [height]="47"
                            placeholder="" 
                            label="Last name" 
                            placeholder=""
                            formControlName="lastName">
            </app-input-text>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <app-input-date [width]="467" 
                            [height]="47" 
                            label="When is your birthday?"
                            placeholder=""
                            class="me-4"
                            formControlName="dateOfBirth">
            </app-input-date>
            <app-input-select [width]="467" 
                              [height]="47" 
                              label="What do you do for a living?"
                              [disabled]="false"
                              formControlName="category">
            </app-input-select>
        </div>
    </div>
</form>
<div class="w-100 d-flex">
    <app-button text="Continue"
                [width]="225"
                [height]="47"
                [type]="ButtonType.BONE"
                class="ms-auto mt-3" 
                (click)="sendMessageToParent()">
    </app-button>
</div>